{"addresses": {"bch": "{{ pillar['hedron.walkingliberty.autosweeper_addresses']['bch'] }}",
               "btc": "{{ pillar['hedron.walkingliberty.autosweeper_addresses']['btc'] }}",
               "bsv": "{{ pillar['hedron.walkingliberty.autosweeper_addresses']['bsv'] }}"}
}
