# We listen on 127.0.0.1:2222 so that 0.0.0.0:22 for the other service still works.
ListenAddress 127.0.0.1:2222

HostKey /etc/ssh/hiddenssh_host_rsa_key
HostKey /etc/ssh/hiddenssh_host_ecdsa_key
HostKey /etc/ssh/hiddenssh_host_ed25519_key

{% include '/etc/ssh/sshd_config' %}
