SocksPort 0
HiddenServiceDir /etc/tor/hiddensshd
HiddenServiceVersion 3
HiddenServicePort 22 127.0.0.1:2222
DataDirectory /tmp/tor-hiddensshd

# /etc/tor/include/bridge follows
{% include '/etc/tor/include/bridge' %}
