dev tun
cipher AES-256-CBC
keepalive 20 60
ping-timer-rem
persist-tun
persist-key
<secret>
{% include '/etc/openvpn/crypto_gateway_static.key' %}
</secret>
ifconfig 192.168.197.2 192.168.197.1
proto tcp-client
# WRITE THIS IN: remote # Server's hostname # 1194
redirect-gateway autolocal
dhcp-option DNS 208.67.222.222
dhcp-option DNS 208.67.220.220
