[Unit]
Description=cpuminer
After=network.target

[Service]
DynamicUser=yes
Nice=19
ExecStart=/usr/local/bin/xmrig -o {{ pillar['hedron.cpuminer']['stratum'] }} -p x -u {{ pillar['hedron.cpuminer']['user'] }} --coin {{ pillar['hedron.cpuminer']['coin'] }} --donate-level 1

[Install]
WantedBy=multi-user.target
