{
    "methods": {
        "local_log": {
            "file": "/var/log/hivemind.log"
        },
        "bitmessage": {
            "address": "{{ pillar['hedron.hivemind.bitmessage_address'] }}"
        }
    }
}

