[Unit]
Description=Tornet Daemon on port %I
After=network.target

[Service]
DynamicUser=yes
# Fails with "invalid multi-byte"
#Group=debian-tor
# Should be equivalent.
Group=67
UMask=0077
RuntimeDirectory=tornet-%I
ExecStart=/usr/sbin/tor --ignore-missing-torrc -f /etc/tor/include/bridge --SocksPort "0 IPv6Traffic" --VirtualAddrNetworkIPv4 172.16.0.0/12 --VirtualAddrNetworkIPv6 [FC00::]/7 --AutomapHostsOnResolve 1 --AutomapHostSuffixes .onion --TransPort "127.0.0.1:%I" --TransPort "[::1]:%I" --DNSPort "127.0.0.1:%I" --DNSPort "[::1]:%I" --DataDirectory /var/tmp/tor --ControlPort "unix:/run/tornet-%I/control RelaxDirModeCheck"
Restart=on-failure

[Install]
WantedBy=multi-user.target
