[Unit]
Description=Monero Node (Testnet)

[Service]
User=monero-testnet
Group=notor
Nice=18
ExecStart=/usr/local/monero/monerod --testnet --non-interactive --no-igd --hide-my-port
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
