[Unit]
Description=Monero Node

[Service]
User=monero
Nice=18
ExecStart=/usr/local/monero/monerod --non-interactive --no-igd
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
