[Unit]
Description=Tinc VPN for %I
After=network.target

[Service]
ExecStart=/usr/sbin/tincd -d -D -n %I
WorkingDirectory=/etc/tinc/%I
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
