[Unit]
Description=Hidden OpenBSD Secure Shell server for vmmanagement
After=network.target

[Service]
ExecStart=/usr/sbin/sshd -D -f /etc/ssh/vmmanagement_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
